.topnav {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 4px;
    background-color: #eceff1;
}

.topnav a {
    margin: 1em;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: .2em;
    text-indent: .2em;
    color: #181818;
    border-bottom: 3px solid transparent;
}

.topnav a:hover {
    transform: translateY(-3px);
}

.topnav a.logo {
    justify-content: left;
    font-weight: bold;
}

.topnav a.logo:hover {
    transform: translateY(0px);
}

