.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #333;
    color: white;
    
}

.topnav a.active {
    background-color: #ddd;
    color: black;
}

.topnav a.logo {
    float: left;
    font-weight: bold;
}

.topnav a.logo:hover {
    background-color: black;
    color: #f2f2f2;
    
}
